

/*=========== Wrapper ============ */
#wrapper{
	margin-top: 50px;
	height: auto;
	box-shadow: 1px 1px 1px 2px #ddd;
	background-color: #f8f9fa;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*=========== side panel ============ */
#sidebar{
	border-right: 1px solid #ddd;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 120px;
	width: 100%;
	background-color: #fff;
}
.logo i{
	font-size: 50px;
	color: rgb(250, 9, 137);
}

.btn-container{
	width: 100%;
	margin-bottom: 20px;
}
.btn-container button
{
	width: 100%;
	height: 40px;
	border: 0;
	margin-top: 5px;
	font-size: 12px;
	text-align: left;
	padding: 10px;
	color: rgb(250, 9, 137);
	cursor: pointer;
	
}
.btn-container button:focus{
	outline: none;
}
.btn-container i{
	margin-right: 20px;
	color: rgb(250, 9, 137);
}






/*=========== side panel ============ */


/*=========== tab panel ============ */
.tab-panel{
	margin-top: 50px;
	
}
.tab-header{
	background-color: #ddd;
	padding: 10px;
	font-size:12px;
	color: rgb(250, 9, 137);
}
.tab-content{
	background-color: #fff;
	padding: 10px;
	font-size:12px;	
}
.tab-content .input-container input{
	height: 40px;
	width: 270px;
	outline: none;
	padding: 5px;
	border: 1px solid #ddd;
	margin-bottom: 5px;
}
.tab-content .input-container #price{
	height: 40px;
	width: 270px;
	outline: none;
	padding: 5px;
	border: 1px solid #ddd;
	margin-bottom: 5px;
}
.tab-content .input-container input[type=number]{
	height: 40px;
	width: 70px;
	outline: none;
	padding: 5px;
	border: 1px solid #ddd;
	margin-bottom: 5px;
}
.tab-content .input-container button{
	width: 70px;
	height: 40px;
	border: 0;
	margin-top: 15px;
	font-size: 12px;
	text-align: left;
	padding: 10px;
	color: rgb(250, 9, 137);
	cursor: pointer;
	outline: none;
	transition: 0.8s;
}
.tab-content .input-container button:hover{
	background-color: rgb(250, 9, 137);
	color: #fff;
}
.product-wrapper {
	margin-top: 10px;
}

.product-container {
	background-color: #fff;
	padding: 10px;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.3);
	margin-bottom: 15px;
	
}
.product-container h6 {
	font-size: 12px;
}

.product-container span {
	font-size: 10px;
}
.product-info {
	margin-bottom: 0px;
	
}
.item-qty {
	margin-right: 20px;
}
#btn-container {
	
}

#btn-container button {
	border: 0;
	font-size: 12px;
	height: 30px;
	width: 100px;
	outline: none;
	cursor: pointer;
	color: #fff;
	margin-top: 5px;
	
}
#btn-container button i {
	font-size: 10px;
}
.add-item {
	background-color: rgb(12, 190, 12);
}
.remove-item {
	background-color: rgb(5, 14, 14);
}


/*=========== tab panel ============ */



@media (max-width:768px)
{
	#wrapper{
		height: 1000px;
		margin-top: 10px;
	}

	/*=========== sidebar ============ */
	/* #sidebar{
		
	} */
	.logo{
		margin-top: 0px;
	}
	.btn-container{
		width: 100%;
		margin-bottom: 0px;
	}

	/*=========== sidebar ============ */

	/*=========== tab panel ============ */
	.tab-panel{
		margin-top: 5px;
	}

	/*=========== tab panel ============ */
}